{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.email) }}

        <button type="submit" class="btn btn-success pull-right">Ajouter</button>
    {{ form_end(registrationForm) }}
{% endblock %}
